<div data-_id="{{_id}}" class="card p-2">
  <div class="card-header bg-secondary">
    <h3>
      <a class="article-link text-light" target="_blank" rel="noopener noreferrer" href="{{link}}">{{title}}</a>
      <a class="btn btn-info text-light float-right save">Save Article</a>
    </h3>
  </div>
  <div class="card-body">{{summary}}</div>
</div>