<nav class="navbar navbar-expand-sm navbar-dark bg-primary bg-dark">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn btn-info text-light ml-2 scrape-new">SCRAPE NEW ARTICLES!</a>
      </li>
    </ul>
  </div>
</nav>