<div class="container-fluid p-0">
  <div class="jumbotron jumbotron-fluid mb-0" style="background-image: url(./andromeda.png);background-size: cover">
    <div class="container text-light">
      <h1 class="display-4" style="text-shadow: 2px 2px black">Astronomy News Scraper</h1>
      <p class="lead" style="text-shadow: 2px 2px black">The top news associated with celestial objects, space and the physical universe as a whole..</p>
    </div>
  </div>
</div>
  
<div class="container-fluid bg-info m-0 p-0" id="articles">
  {{#each articles}}
    {{> article-block }}
  {{/each}}
</div>